<%= form_with model: [:admin, @badge] do |f| %>
  <%= render 'shared/errors', resource: @badge%>
  <p>
    <%= f.label :title%> 
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :image_url%> 
    <%= f.text_field :image_url %>
  </p>

  <p>
    <%= f.label :description%> 
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label 'Правила присвоения'%> 
    <%= f.select :rules, AssigningBadges.rules, prompt: true %>
  </p>

  <p class=''>
    <%= f.label 'Категория'%> 
    <%= f.collection_select :argument, Category.all, :id, :title, prompt: true %>
  </p>

  <p class=''>
    <%= f.label 'Уровень'%> 
    <%= f.select :argument, @available_levels, prompt: true %>
  </p>

   <%= f.submit %>
<% end %>
