<h1><%= t('.badges') %></h1>
  <%= render 'nav' %>
<table class='table table-hover'>
  <tr>
    <th> <%= t('.image') %></th>
    <th> <%= t('.title') %></th>
    <th> <%= t('.description') %></th>
    <th> <%= t('.received') %></th>
  <tr>
  <%= render @badges %>
</table>
