<h1><%= t('.badges') %></h1>
  <%= render 'nav' %>

  <% if current_user.admin? %>
  <div> <%= link_to t('.new_badge'), new_admin_badge_path %> </div>
  <% end %>

<table class='table table-hover'>
  <tr>
    <th> <%= t('.image') %></th>
    <th> <%= t('.title') %></th>
    <th> <%= t('.description') %></th>
    <th> <%= t('.received') %></th>
  <tr>
  <%= render @badges %>
</table>
