<div>
  <p> <%= current_year %> </p>
  <p> <%= t('.author') %> </p>
  <p> <%= github_url("DmitryZyablitsev", "TestGuru_3")%> </p>
  <p> <%= t('.project_objective')%> </p>  
  <p> <%= link_to t('.link.thinknetica'), 'https://thinknetica.com/', target: "_blank",  rel: 'nofollow', rel: 'noopener'%> </p>
</div>
